.deposit-container {
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
}

.deposit-container .header-image {
  display: block;
  width: 100%;
}

.deposit-container .header-nav {
  z-index: 15;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 60px;
  padding-top: 20px;
  box-shadow: 0 1px 6px 0 #41414178;
  background: #fff;
}
.deposit-container .header-nav .activate-tag {
  border-bottom: 2px solid #d87645;
  padding: 0 10px 4px 10px;
  color: #d87645;
  font-weight: 600;
}
.deposit-container .header-nav .deactivate-tag {
  padding: 0 10px 4px 10px;
  color: #878787;
  font-weight: 600;
}

/* section: balance */
.deposit-container .balance {
  width: 100%;
  position: relative;
}
.deposit-container .balance .colorful {
  display: block;
  position: relative;
  top: -40px;
  width: 100%;
}
.deposit-container .balance .panel {
  z-index: 10;
  background: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  box-shadow: 0 1px 4px 0 #86868678;
}
.deposit-container .balance .panel .panel-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #555656;
}
.deposit-container .balance .panel .panel-title img {
  width: 16px;
}
.deposit-container .balance .panel .amount {
  font-size: 28px;
  font-weight: 600;
  color: #474747;
}

/* section: demand-deposit */
.deposit-container .demand-deposit {
  width: 100%;
  margin-top: -48px;
  padding: 0 36px;
}
.deposit-container .demand-deposit .section-title,
.deposit-container .time-deposit .section-title {
  display: flex;
  align-items: center;
  gap: 4px;
}
.deposit-container .demand-deposit .section-title span,
.deposit-container .time-deposit .section-title span {
  font-size: 22px;
  font-weight: 600;
  color: #474747;
}
.deposit-container .demand-deposit .section-title img {
  display: inline-block;
  width: 20px;
}
.deposit-container .info-card {
  position: relative;
  background: #fff;
  border-radius: 16px;
  padding: 16px;
}
.deposit-container .info-card .upper {
  width: 100%;
  display: flex;
  gap: 12px;
}
.deposit-container .info-card .upper img {
  display: inline-block;
  height: 16px;
  margin-top: 8px;
}
.deposit-container .info-card .upper .more {
  margin-right: 8px;
  margin-left: auto;
}
.deposit-container .info-card .upper .text {
  display: flex;
  flex-direction: column;
}
.deposit-container .info-card .upper .text .card-title {
  font-size: 18px;
  font-weight: 500;
  color: #474747;
}
.deposit-container .info-card .upper .text .card-sub {
  font-size: 14px;
  color: #878787;
}
.deposit-container .info-card .lower {
  width: 100%;
  margin-top: 12px;
  display: flex;
}
.deposit-container .info-card .lower .amount {
  font-size: 20px;
  font-weight: 600;
  color: #474747;
  margin-left: auto;
}

.deposit-container .time-deposit {
  margin-top: 24px;
  padding: 0 36px;
}
.deposit-container .time-deposit .info-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.deposit-container .time-deposit .info-card .right-image {
  width: 48%;
}
.deposit-container .time-deposit .info-card .left-text {
  width: 52%;
  display: flex;
  flex-direction: column;
}
.deposit-container .time-deposit .info-card .left-text span {
  font-size: 18px;
  font-weight: 700;
}
.deposit-container .time-deposit .info-card .left-text p {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #d87645;
}

/* section: action */
.deposit-container .action {
  margin-top: 36px;
  background-color: #d87645;
  padding: 12px 0;
  width: 40%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deposit-container .action p {
  color: #fff;
  padding: 2px 12px;
}
.deposit-container .action p:nth-of-type(1) {
  border-right: 1px solid #fff;
}

/* footer */
.deposit-container .footer-nav {
  border-top: 2px solid #dddddd;
  background-color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
}
.deposit-container .footer-nav .default,
.deposit-container .footer-nav .selected {
  margin-top: -2px;
  padding: 14px 12px 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 12px;
  color: #878787;
}
.deposit-container .footer-nav .selected {
  border-top: 2px solid #d87645;
  color: #d87645;
}
.deposit-container .footer-nav .default img,
.deposit-container .footer-nav .selected img {
  width: 24px;
}
