.details-container {
  min-height: 100vh;
  padding-bottom: 100px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
}

.details-container .header-image {
  display: block;
  width: 100%;
}

.details-container .header-nav {
  z-index: 15;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 60px;
  padding-top: 20px;
  box-shadow: 0 1px 6px 0 #41414178;
  background: #fff;
}
.details-container .header-nav .activate-tag {
  border-bottom: 2px solid #d87645;
  padding: 0 10px 4px 10px;
  color: #d87645;
  font-weight: 600;
}
.details-container .header-nav .deactivate-tag {
  padding: 0 10px 4px 10px;
  color: #878787;
  font-weight: 600;
}

/* section: balance */
.details-container .balance {
  width: 100%;
  position: relative;
}
.details-container .balance .colorful {
  display: block;
  position: relative;
  top: -40px;
  width: 100%;
}
.details-container .balance .panel {
  z-index: 10;
  background: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  box-shadow: 0 1px 4px 0 #86868678;
}
.details-container .balance .panel .panel-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #555656;
}
.details-container .balance .panel .panel-title img {
  width: 16px;
}
.details-container .balance .panel .amount {
  font-size: 28px;
  font-weight: 600;
  color: #474747;
}

/* section: record */
.details-container .record {
  margin-top: 140px;
  width: 100%;
  padding: 0 36px;
}
.details-container .record .section-title {
  font-size: 18px;
  font-weight: 600;
  color: #474747;
}
.details-container .record .card-container {
  width: 100%;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.details-container .record .card-container .record-card {
  background-color: #fff;
  border-radius: 22px;
  padding: 12px 18px;
}
.details-container .record .card-container .record-card .upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details-container .record .card-container .record-card .upper .text {
  color: #555656;
  font-size: 14px;
  font-weight: 600;
}
.details-container .record .card-container .record-card .upper img {
  height: 12px;
}
.details-container .record .card-container .record-card .lower {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 24px;
  font-weight: 600;
}
.details-container .record .card-container .record-card .lower .transfer-out {
  color: #cc3130;
}
.details-container .record .card-container .record-card .lower .transfer-in {
  color: #545656;
}

/* footer */
.details-container .footer-nav {
  border-top: 2px solid #dddddd;
  background-color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
}
.details-container .footer-nav .default,
.details-container .footer-nav .selected {
  margin-top: -2px;
  padding: 14px 0 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 12px;
  color: #878787;
}
.details-container .footer-nav .selected {
  border-top: 2px solid #d87645;
  color: #d87645;
}
.details-container .footer-nav .default img,
.details-container .footer-nav .selected img {
  width: 24px;
}
